/* Google fonts import */
/* Title logo */
@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');
/* regular font */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Poiret+One&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');


/* Asterisk wildcard selector to override default styles added by the browser */
* {
  padding: 0;
  margin: 0;
  margin-block: 0;
  box-sizing: border-box;
}

/* General styles */
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /* project 1 styles */
  color: rgb(131,166,5);
  font-family: "Josefin Sans", sans-serif;
  font-weight: 200;
  font-style: normal;
}




/* Header */
header {
  background-color: rgb(59,115,57);
  position: fixed;
  z-index: 95;
  width: 100%;
  display: flex; 
  justify-content: space-between;
  align-items: baseline;
  box-shadow: 0 2px 1px #3a3a3a;
}

header a {
  text-decoration: none;
  color: inherit;
}

h1 {
  color: rgb(239,255,239);
/* Title logo font */
  font-family: "Poiret One", sans-serif;
  font-weight: 200;
  font-style: normal;
  letter-spacing: 0px;
  flex: 1 1;
}

/* Navbar styles - dropdown toggle */
nav {
  position:absolute;
  background-color: rgb(59,115,57);
  width: 100%;
  text-align: left;
  box-shadow: 0 2px 1px #3a3a3a;
  display: none;
  top: 100%;
  padding: 0 1rem;
}

/* Nav toggle */
#nav-toggle:checked~nav {
  display: block;
}

#nav-toggle {
  display: none;
}

.nav-toggle-label {
  z-index: 96;
  font-size: 150%;
}


header ul {
  list-style: none;
  color: inherit;
}

header li {
  font-size: 110%;
  letter-spacing: 4px;
  padding-bottom: 1rem;
}



.active {
  text-decoration: underline;
}




/* Main */
main {
  position: relative;
  top: 38px;
  width: 100%;
  /* Make main element take up any surplus space to push footer down */
  flex: 1 0 auto;
}

div.hero-image {
  min-height: 60vh;
  background: url(../images/young-smiling-woman-hero1200.jpg) center center/cover no-repeat;

}