/* Google fonts import */
/* Title logo */
@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');
/* regular font */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Poiret+One&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');


/* Asterisk wildcard selector to override default styles added by the browser */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* General styles */
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /* project 1 styles */
  color: rgb(131,166,5);
  font-family: "Josefin Sans", sans-serif;
  font-weight: 200;
  font-style: normal;
}




/* Header */
header {
  background-color: rgb(59,115,57);
  padding: 0 1rem;
  position: fixed;
  z-index: 99;
  width: 100%;

  justify-content: space-between;

}

h1 {
  color: rgb(239,255,239);
/* Title logo font */
  font-family: "Poiret One", sans-serif;
  font-weight: 400;
  font-style: normal;
}


header ul {
  list-style: none;
}



div.hero-image {
  min-height: 60vh;
  background: url(../images/young-smiling-woman-hero1200.jpg) bottom center/cover no-repeat;

}

/* Main */
main {
  position: absolute;
  top: 50px;
  width: 100%;
  /* Make main element take up any surplus space to push footer down */
  flex: 1 0 auto;
}