/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Poiret+One&display=swap');


/* Asterisk wildcard selector to override default styles added by the browser */
* {
  padding: 0;
  margin: 0;
  margin-block: 0;
  box-sizing: border-box;
}

/* General styles */
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /* project 1 styles */
  color: rgb(98, 122, 37);
  font-family: "Josefin Sans", sans-serif;
  font-weight: 350;
  font-size: 1.2rem;
  line-height: 135%;
}

h2 {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 150%;
  margin-bottom: 1rem;
}

h3 {
  font-size: 1.3rem;
  font-weight: 500;
  line-height: 120%;
}

a, a:visited {
  color: rgb(24, 48, 24);
}

a:hover {
  color: rgb(230, 87, 5);
}

section,
article {
  padding: 1rem;
}

main {
  margin-top: 49px;
  width: 100%;
  /* Make main element take up any surplus space to push footer down */
  flex: 1 0 auto;
}


/* Header */
header {
  display: flex;
  position: fixed;
  justify-content: space-between;
  align-items: baseline;
  z-index: 95;
  width: 100%;
  background-color: rgb(59, 115, 57);
  box-shadow: 0 2px 1px rgb(24, 48, 24);
}

header a, header a:visited {
  text-decoration: none;
  color: rgb(239, 255, 239);
}

#logo {
  color: rgb(239, 255, 239);
  /* Title logo font */
  font-family: "Poiret One", sans-serif;
  font-size: 1.8rem;
  font-weight: 500;
  font-style: normal;
  line-height: 50px;
  padding-left: 0.6rem;
}

/* Navbar styles - dropdown toggle - Reference : Love Running [Code Institute] */
nav.global {
  display: none;
  /* position:absolute top:100% for place nav just under the parent element */
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  box-shadow: 0 2px 1px rgb(24, 48, 24);
  background-color: rgb(59, 115, 57);
  padding: 0 1rem;
}

/* Nav toggle */
#nav-toggle:checked~nav.global {
  display: block;
}

#nav-toggle {
  display: none;
}

.nav-toggle-label {
  font-size: 1.4rem;
  padding-right: 0.6rem;
  color: #83BF73;
}

#menu {
  list-style: none;
  color: inherit;
  text-transform: uppercase;
  font-size: 95%;
  letter-spacing: 2px;
  line-height: 155%;
}

#menu li {
  padding-bottom: 0.6rem;
}

#menu a:hover {
  color: #A9E560;
}

.active {
  text-decoration: underline;
}

/* Main */
#hero-outer {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 70vh;
}

#hero-image {
  width: 100%;
  min-height: 70vh;
  background: url(../images/th-young-smiling-woman-525x350px.webp) center center/cover no-repeat;

  /* animates zoom effect on loading page : refer to Love Running - Code Institute*/
  animation-name: hero-zoom;
  animation-duration: 5s;
  animation-fill-mode: forwards;
}

/* creates the level of zoom for hero image */
@keyframes hero-zoom {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(1.1);
  }
}

#hero-text {
  position: absolute;
  top: 33%;
  max-width: 1000px;
  margin: 1.5rem;
  padding: 1rem;
  /* Final rgba value sets the opacity so it is semi-transparent */
  background-color: rgba(85, 32, 1, 0.7);
  color: rgb(239, 255, 239);
  font-size: 110%;
  line-height: 210%;
  border-radius: 20px;
}

/* Upcoming info section */
#upcoming-info {
  background-color: rgb(230, 87, 5);
  color: rgb(20, 20, 20);
  width: 100%;
}

#upcoming-info a,
#upcoming-info a:visited {
  color: rgb(20, 20, 20);
}

#upcoming-info a:hover {
  color: #ffffff;
}

#upcoming-info img {
  float: left;
  margin-right: 0.8rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  border-radius: 5px;
  box-shadow: 2px 2px 10px rgb(85, 32, 1);
}

#upcoming-info figcaption {
  font-size: 130%;
  line-height: 150%;
}

/* About Us section */
#about-us figure {
  float: right;
  display: none;
}

/* Youtube article section */
#youtube {
  background-color: rgb(239, 255, 239);
}

/* Youtube video fixed aspect ratio technique : stackoverflow - credit */
.video-container {
  position: relative;
  padding-bottom: 56.25%;
  overflow: hidden;
  text-align: center;
  max-width: 1061px;
  margin-top: 10px;
  box-shadow: 3px 3px 10px rgb(24, 48, 24);
  border-radius: 10px;
}

iframe {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  border: 0;
  aspect-ratio: 16/9;
}

.more-info {
  clear: both;
  text-align: right;
  margin-top: 15px;
}

article p {
  margin-bottom: 40px;
}


/* Footer */
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: rgb(98, 122, 37);
}

footer a,
footer a:visited {
  color: rgb(239, 255, 239);
}

footer a:hover {
  color: #A9E560;
}

#social-networks {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  padding: 10px 15%;
}

/* Useful Info & Sign up page */
/* Breadcrumb  - Reference : W3 website sample code and W3 school */
nav.breadcrumb {
  margin-top: 5px;
  padding: 0.3rem;
  background-color: rgb(239, 255, 239);
  font-size: 1rem;
}

nav.breadcrumb ol {
  margin-left: 5%;
  list-style: none;
}

nav.breadcrumb li {
  display: inline;
}

/* Decoration - the left side of second list item */
nav.breadcrumb li+li::before {
  display: inline-block;
  margin: 0 0.25em;
  transform: rotate(15deg);
  border-right: 0.1em solid currentcolor;
  height: 0.8em;
  content: "";
}

nav.breadcrumb [aria-current="page"] {
  font-weight: 700;
  text-decoration: none;
}

/* Flex box outer div - used in Useful Info page & Sign up page */
#flex-outer {
  display: flex;
  flex-wrap: wrap;
}

#flex-outer h3 {
  margin: 1rem 0;
}

#flex-outer figure {
  margin: 0 1rem;
}

/* Useful Info page */
#useful-info {
  margin-bottom: 50px;
}

#basic-knowledge,
#healthy-gut,
#research-sickness,
#tips-tricks {
  position: relative;
  border: 3px solid #ffffff;
  flex: 1 1 300px;
  overflow: hidden;
}

#basic-knowledge {
  background: url(../images/iu-kitchen-cutting-640.webp) no-repeat top center/cover;
}

#healthy-gut {
  background: url(../images/iu-health-gut-belly-640.webp) no-repeat top center/cover;
}

#research-sickness {
  background: url(../images/iu-health-prescription-research-w640.webp) no-repeat top center/cover;
}

#tips-tricks {
  background: url(../images/iu-vegetable-wash-640.webp) no-repeat top center/cover;
}

#basic-knowledge>div,
#healthy-gut>div,
#research-sickness>div,
#tips-tricks>div {
  background-color: rgb(24, 48, 24, .7);
  color: rgb(239, 255, 239);
  padding: 1rem;
  height: 100%;
}

/* Sign up page */
#signup-form {
  text-align: center;
}

#form-outer {
  display: flex;
  flex-direction: column;
  text-align: left;
}

#form-outer input:hover,
#form-outer select:hover {
  border-color: #A9E560;
}

#signup-form label {
  font-weight: 800;
}


.text-input {
  padding: 3px;
  margin: 4px;
  color: rgb(59, 115, 57);
  font-family: "Josefin Sans", sans-serif;
  font-size: 100%;
  border: rgb(59, 115, 57) 2px solid;
  border-radius: 4px;
}

select.text-input {
  width: 150px;
  margin-bottom: 20px;
  background: none;
}

fieldset {
  border: none;
}

div.radio-buttons label {
  font-weight: 500;
}

.radio-buttons p {
  margin-left: 1.5rem;
}

.radio-buttons div {
  margin-bottom: 0.8rem;
}

input[type="submit"] {
  margin-top: 5px;
  padding: 8px;
  border-color: rgb(59, 115, 57);
  border-radius: 5px;
  background-color: rgb(98, 122, 37);
  color: rgb(239, 255, 239);
  font-weight: 600;
}

input[type="submit"]:hover {
  border-color: rgb(59, 115, 57);
  background-color: rgb(230, 87, 5);
  color: rgb(239, 255, 239);
}

/* Session schedule section */
#session-schedule>div#flex-outer {
  background: url(../images/ss-bg-vege-human-body.webp) center center/cover no-repeat;
}

#session-schedule>div#flex-outer>div {
  background-color: rgb(24, 48, 24, .7);
  color: rgb(239, 255, 239);
  padding: 1rem;
  height: 100%;
  border: 3px solid #ffffff;
}

#session-schedule figure {
  float: right;
  text-align: right;
  font-size: 80%;
}

#session-schedule img {
  border-radius: 5px;
  box-shadow: 3px 3px 3px rgb(24, 48, 24);
}

/* Clear fix - reference http://web.simmons.edu/~grovesd/comm328/modules/layout/clearfix#:~:text=Clearing%20Floats,the%20sidebar%20and%20main%20content */
#session-schedule>div#flex-outer::after {
  content: "";
  display: block;
  clear: right;
}

/* Where to find us section */
.address-item {
  font-weight: 800;
}

#map {
  margin-bottom: 50px;
}

/* Media query: General smart phone (320px and up) */
@media screen and (min-width:320px) {

  /* header */
  #logo {
    font-size: 2rem;
    line-height: 65px;
    padding-left: 5%;
  }

  .nav-toggle-label {
    padding-right: 5%;
  }

  /* Main */
  main {
    margin-top: 64px;
  }

  #about-us figure {
    display: block;
  }

}

/* Media query: General smart phone (390px and up) */
@media screen and (min-width:390px) {
  #logo {
    font-size: 2.4rem;
    line-height: 70px;
  }

  .nav-toggle-label {
    font-size: 2rem;
  }

  /* Main */

  #hero-image {
    background: url(../images/th-young-smiling-woman-w2400.webp) center center/cover no-repeat;
  }

  section,
  article {
    padding: 5%;
  }

  #upcoming-info img {
    margin-right: 1rem;
    margin-bottom: 0.8rem;
  }

}

/* Media query: General smart phone (768px and up) */
@media screen and (min-width:768px) {
  nav.global {
    display: block;
    position: relative;
    width: fit-content;
    box-shadow: none;
    padding-right: 4%;
  }

  #menu {
    display: flex;
  }

  #menu>li {
    padding-left: 1rem;
  }

  .nav-toggle-label {
    display: none;
  }

  #logo {
    padding-left: 4%;
    font-size: 2.8rem;
    line-height: 75px;
  }

  /* Main */
  main {
    margin-top: 75px;
  }

  #hero-text {
    left: 10%;
    font-size: 110%;
    padding: 2rem;
  }

  #section-layout {
    display: flex;
    flex-flow: row nowrap;
    gap: 0;
  }

  #upcoming-info {
    position: relative;
    top: -20px;
    border-radius: 8px;
    box-shadow: 3px 3px 10px rgb(85, 32, 1);
  }

  #upcoming-info img {
    margin-right: 1.2rem;
    margin-top: 0.5rem;
    margin-bottom: 0.8rem;
  }
  
  #upcoming-info,
  #about-us {
    width: 50%;
  }

  #section-layout {
    margin: 0 5%;
  }

  section,
  article {
    padding: 3%;
  }

  /* Useful Info page */
  #flex-outer {
    flex-direction: column;
  }

  #basic-knowledge>div,
  #healthy-gut>div,
  #research-sickness>div,
  #tips-tricks>div {
    position: absolute;
    width: 50%;
    height: 100%;
  }

  #basic-knowledge div,
  #research-sickness div {
    right: 0;
  }

  /* Sign up page */
  #form-outer {
    flex-flow: row wrap;
  }

  #form-outer>div {
    flex: 1 1 300px;
  }

  /* Session schedule section */
#flex-outer>div.right {
  width: 50%;
  margin-left: 50%;
}

#flex-outer>div.left {
  width: 50%;
  margin-right: 50%;
}
}

/* Media query: General smart phone (1024px and up) */
@media screen and (min-width:1024px) {
  #menu {
    font-size: 110%;
  }

  #hero-outer {
    min-height: 50vh;
  }

  #section-layout {
    margin: 0 7%;
  }

  /* video section */
  .video-container {
    padding-bottom: 597px;
    margin: 20px auto;
  }

  iframe {
    max-width: 1061px;
    max-height: 597px;
  }

  /* Useful Info page */
  #useful-info>#flex-outer {
    flex-direction: row;
  }

  #useful-info>#flex-outer>div {
    flex: 1 1 400px;
    height: 430px;
  }

  #basic-knowledge {
    background: url(../images/iu-kitchen-cutting-640-gra.webp) no-repeat top center/contain;
  }

  #healthy-gut {
    background: url(../images/iu-health-gut-belly-640-gra.webp) no-repeat top center/contain;
  }

  #research-sickness {
    background: url(../images/iu-health-prescription-research-w640-gra.webp) no-repeat top center/contain;
  }

  #tips-tricks {
    background: url(../images/iu-vegetable-wash-640-gra.webp) no-repeat top center/contain;
  }

  #flex-outer>.useful-empty-div {
    height: 30px;
  }

  #useful-info>#flex-outer>div>div {
    width: 100%;
    height: 53%;
    bottom: 0;
  }

  /* Sign up page */

  div#fieldset {
    flex: 2 1 600px;
  }

  .radio-buttons {
    display: flex;
    flex-wrap: wrap;
  }

  .radio-buttons div {
    flex: 1 1 300px;
  }
}

/* 404.html */
.error-page {
  width: 100%;
  height: 50%;
  padding-top: 15%;
  text-align: center;
}